.App {
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row.cash-info {
  justify-content: center;
  text-align: center;
}

.column.result {
  width: 100%;
}

.column {
  padding: 20px;
  width: calc((100% / 3) - 40px);
}

input {
  border: 0;
  padding: 5px 8px;
  font-size: 24px;
  margin: 10px 0;
  display: block;
  width: calc(100% - 16px);
  background: rgba(255, 255, 255, 0.8);
}

button {
  padding: 5px 8px;
  font-size: 24px;
  margin: 10px 0;
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 72px;
}

h6 {
  margin: 30px 0 0;
}

.card {
  background: white;
  color: gray;
  padding: 1px 20px;
  border-radius: 5px;
}